/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: Arial, Helvetica, sans-serif;
}
.player-wrapper {
    width: 100%;
    height: 100vh;
}

.container-grid {
    width: 90%;
    margin: 0 auto;
}

.row-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
}

.col-grid {
    width: calc(100% / 7 - 6px);
    margin-bottom: 10px;
    overflow: hidden;
}

.col-video {
    width: 100%;
    height: calc(100% - 80px);
    background-color: black;
}

.col-icons {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* UTILITIES */
img {
    width: 100%;
}

.card {
    position: relative;
}

.name {
    width: 50%;
    height: 30px;
    background-color: rgba(102, 102, 102, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 15px;
    line-height: 30px;
}

i.fa-solid {
    color: white;
    cursor: pointer;
}

i.big {
    font-size: 25px;
}


.text-icon h3 {
    color: white;
    font-size: 14px;
    font-weight: 100;
    margin-top: 5px;
}




/* MAIN */
.speaker-view {
    background-color: rgb(59, 59, 59);
    height: 30px;
    margin-bottom: 30px;
}

.fa-microphone-slash {
    padding-left: 5px;
}

/* Toolbar - Footer */

.icons-left,
.icons-right {
    width: 10%;
}
.icons-center {
    width: 35%;
}

.share i {
    color: green;
}

.icons-right {
    background-color: #4a4a4a;
}

.container-end-meeting {
    /* position: relative; */
}

a.end-meeting {
    color: red;
    text-decoration: none;
    text-align: center;
    line-height: 50%;
    /* position: absolute;
    transform: translate(50% , 50%); */
}